<html>
    {% extends "base.html" %}
    {% block body %}   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1> <center> <font size = 32, color = #123456> Add New Properties for Listing </font> </center> </h1> 
    
    
    <p> <center> <font size = 6, color= #32AB74> Please enter all necessary information in the relevant boxes below to add a house to the database </font> </center> </p>
    
    <form action="/addNewProperty" method="post">
    <div class="form-group">
            <label for="exampleFormControlInput1">Property Name</label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
    </div>
    
    <div class="form-group">
                <label for="exampleFormControlInput2">Property Type</label>
                <input type="text" name="type" class="form-control" id="exampleFormControlInput2">
    </div>

    <div class="form-group">
            <label for="exampleFormControlInput3">Price Per Day</label>
            <input type="text" name="price" class="form-control" id="exampleFormControlInput3">
    </div>

    <center><button type="submit" class="btn btn-primary">Add Property</button></center>
    </form>

    <form action="/userpage" method="post">
    <center><button type="submit" class="btn btn-primary">Back to User Page</button></center>
    </form>
    {% endblock %}
</html>